/* Header */

.header li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    white-space: nowrap;
    height: 100%;
    margin: 0;
}

.header li:first-child {
    justify-content: left;
    margin-left: 1.5rem;
    gap: 1rem;
}

.header li:last-child {
    justify-content: right;
    margin-right: 1.5rem;
    padding: 0;
}

select {
    border: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--text-color);
    color: var(--darkest-gray);
}

input {
    color: var(--darkest-gray);
    outline: none;
    font-size: 1rem;
    margin: 1rem;
}

/* Main */
main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Link */
article h3 a:hover{
    transition:0.1s;
    text-decoration: underline;
    color: #87CEFA    
}

/* Articles */
article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 29%;
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid;
    border-radius: 5px;
    border-width: 0.1rem;
    border-color: var(--text-color);
    user-select: none;
}

.article-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article:hover {
    transition: 0.1s;
    transform: scale(1.05);
    cursor: pointer;
}

article:active {
    transition: 0.1s;
    transform: scale(0.99);
}

.actions-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 35px;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.actions-ul {
    all: unset;

    display: flex;
}

.actions-ul-left > li > button {
    margin-right: 1rem
}

.action-li {
    all: unset;

}

.action-button {
    all: unset;
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    background-size: cover;
}


.action-button img {
    width: 80%;
    height: 80%;
    margin: auto;
}


footer {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    padding: 2rem;
    cursor: pointer;
    font-family: system-ui, 
                -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                'Open Sans',
                'Helvetica Neue',
                sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    background-color: var(--gray);
    color: var(--text-color);
}

button:hover {
    transition: 0.1s;
    transform: scale(1.05);
}

