/* Header */

.header li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    white-space: nowrap;
    height: 100%;
    margin: 0;
}

.header li:first-child {
    justify-content: left;
    margin-left: 1.5rem;
    gap: 1rem;
}

.header li:last-child {
    justify-content: right;
    margin-right: 1.5rem;
    padding: 0;
}

select {
    border: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--text-color);
    color: var(--darkest-gray);
}

input {
    color: var(--darkest-gray);
    outline: none;
    font-size: 1rem;
    margin: 1rem;
}

/* Main */
main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Link */
article h3 a:hover{
    transition:0.1s;
    text-decoration: underline;
    color: #0000FF    
}

/* Articles */
article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 29%;
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid;
    border-radius: 5px;
    border-width: 0.1rem;
    border-color: var(--text-color);
    user-select: none;
}

article:hover {
    transition: 0.1s;
    transform: scale(1.05);
    cursor: pointer;
}

article:active {
    transition: 0.1s;
    transform: scale(0.99);
}
